.App-header {
  height: 600px;
  background-color: #13293d;
  padding: 5rem;
}

.App-header h1 {
  font-family: "Fjalla One";
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffaf87;
  margin: 5rem;
}

/* .App-header main {
  position: absolute;
  margin: 0 auto;
} */
