:root {
  --main-color-h: #0d7e83;
  --font-family-headers: "Fjalla One";
  --font-family-content: "Inter";
  --font-color-content: #1f2627;
}

.Dictionary-header {
  height: 28rem;
  background-color: #13293d;
  padding: 3rem;
}

.Dictionary-header h1 {
  font-family: var(--font-family-headers);
  font-style: normal;
  font-weight: 400;
  font-size: 7vw;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffaf87;
  margin: 4rem 0;
}

.Dictionary p {
  color: var(--main-color-h);
  font-family: var(--font-family-content);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.085em;
  /* margin: 1.5rem 26% auto; */
  line-height: 1.8rem;
}

.Dictionary hr {
  border-top: 2px solid var(--main-color-h);
}

.Dictionary .content {
  margin: 3rem auto;
  max-width: 68%;
}

.Dictionary .Phonetics {
  display: inline-block;
}

@media all and (max-width: 600px) {
  .Dictionary-header h1 {
    font-size: 12vw;
  }
}
